index.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/owl.carousel.min.css")
    link(rel="stylesheet", href="css/owl.theme.default.min.css")
    link(rel="stylesheet", href="css/jquery.fancybox.min.css")
    link(rel="stylesheet", href="index.css")
    script(src="js/fontawasome.all.min.js" defer)
  body
    .wrapper
      header.header
        .header-fullbg
          .header-uprow.container
            article.header-lang
              ul.header-lang__list
                li.header-lang__item.header-lang__item_active
                  a.header-lang__link(href="#") Ru
                li.header-lang__item
                  a.header-lang__link(href="#") En
            article.header-social.social-block
              a.social-block__contact(href="") Контакты
              ul.social-block__list
                li.social-block__item
                  a.social-block__link(href="" title="Вконтакте")
                    i.fab.fa-vk.fa-xs
                li.social-block__item
                  a.social-block__link(href="" title="Facebook")
                    i.fab.fa-facebook-f.fa-xs
                li.social-block__item
                  a.social-block__link(href="" title="Youtube")
                    i.fab.fa-youtube.fa-xs
                li.social-block__item
                  a.social-block__link(href="" title="Instagram")
                    i.fab.fa-instagram.fa-xs
                li.social-block__item
                  a.social-block__link(href="" title="Twitter")
                    i.fab.fa-twitter.fa-xs
        .header-lowrow.container
          a.header-logo(href="")
            img.header-logo__img(src="images/logo.png" alt="Ночные снайперы")
          nav.header-nav
            ul.header-nav__list
              li.header-nav__item
                a.header-nav__link(href="") Афиша
              li.header-nav__item
                a.header-nav__link(href="") Новости
              li.header-nav__item
                a.header-nav__link(href="") Группа
              li.header-nav__item
                a.header-nav__link(href="") Дискография
              li.header-nav__item
                a.header-nav__link(href="") Фото
              li.header-nav__item
                a.header-nav__link(href="") Видео
              li.header-nav__item
                a.header-nav__link(href="") Магазин
          article.header-btn
            a.header-btn__buy-btn.buy-btn(href="") Купить билет
            a.header-search-btn
              i.fas.fa-search.fa-lg.header-search-btn__search
              i.far.fa-times-circle.fa-lg.header-search-btn__close
            form.header-btn__search.header-search(action="")
              label.header-search__caption(for="")
                input.header-search__field(type="text" placeholder="Поиск...")
            

      main.main
        section.main-slider
          .main-slider__list.owl-carousel
            .main-slider__item(style="background-image: url('images/slider-bg.jpg');")
              .main-slider__descr
                .main-slider__caption
                  .main-slider__header
                    h2.main-slider__group Диана Арбенина и Ночные Снайперы
                    h3.main-slider__song Инстаграм
                  .main-slider__media
                    a.main-slider__google(href="")
                    a.main-slider__apple(href="")
                  .main-slider__btn
                    a.main-slider__video.buy-btn(href="") Премьера клипа
                    a.main-slider__audio.buy-btn(href="") Слушать


        section.main-affiche
          .container
            .main-affiche__header.section-header
              h2.main-affiche__title.section-header__title Афиша
              .main-affiche__btn.section-header__btn
                a.main-affiche__link.section-header__link(href="") Все концерты
                  i.fas.fa-arrow-right.fa-xs
            .main-affiche__content
              ul.main-affiche__list
                li.main-affiche__item.affiche-item
                  .affiche-item__when
                    .affiche-item__date
                      span.affiche-item__day 11 
                      span.affiche-item__month июня 
                      span.affiche-item__year 2018
                    span.affiche-item__time понедельник 20:00
                  .affiche-item__address
                    span.affiche-item__city Таллин 
                    span.affiche-item__place Дворец Металлургов
                  .affiche-item__social.social-block
                    ul.social-block__list
                      li.social-block__item
                        a.social-block__link(href="" title="Вконтакте")
                          i.fab.fa-vk
                      li.social-block__item
                        a.social-block__link(href="" title="Facebook")
                          i.fab.fa-facebook-f
                  a.affiche-item__btn.buy-btn(href="") Купить билет
                li.main-affiche__item.affiche-item
                  .affiche-item__when
                    .affiche-item__date
                      span.affiche-item__day 11 
                      span.affiche-item__month июня 
                      span.affiche-item__year 2018
                    span.affiche-item__time понедельник 20:00
                  .affiche-item__address
                    span.affiche-item__city Таллин 
                    span.affiche-item__place Дворец Металлургов
                  .affiche-item__social.social-block
                    ul.social-block__list
                      li.social-block__item
                        a.social-block__link(href="" title="Вконтакте")
                          i.fab.fa-vk
                      li.social-block__item
                        a.social-block__link(href="" title="Facebook")
                          i.fab.fa-facebook-f
                  a.affiche-item__btn.buy-btn(href="") Купить билет
                li.main-affiche__item.affiche-item
                  .affiche-item__when
                    .affiche-item__date
                      span.affiche-item__day 11 
                      span.affiche-item__month июня 
                      span.affiche-item__year 2018
                    span.affiche-item__time понедельник 20:00
                  .affiche-item__address
                    span.affiche-item__city Таллин 
                    span.affiche-item__place Дворец Металлургов
                  .affiche-item__social.social-block
                    ul.social-block__list
                      li.social-block__item
                        a.social-block__link(href="" title="Вконтакте")
                          i.fab.fa-vk
                      li.social-block__item
                        a.social-block__link(href="" title="Facebook")
                          i.fab.fa-facebook-f
                  a.affiche-item__btn.buy-btn(href="") Купить билет

        section.main-audio
          .container
            .main-audio__header.section-header
              h2.main-audio__title.section-header__title Аудио
              .main-audio__btn.section-header__btn
                a.section-header__link(href="") apple music
                a.section-header__link(href="") itunes
                a.section-header__link(href="") яндекс.музыка
            .main-audio__content
              article.main-audio__albums.main-album
                ul.main-album__list
                  li.main-album__item.main-album__item_active
                    a.main-album__link(href="")
                      .main-album__img(style="background-image: url('images/album-img.jpg')")
                      .main-album__descr
                        h3.main-album__group Ночные Снайперы
                        h4.main-album__title Разбуди меня
                        span.main-album__year 2017
                  li.main-album__item
                    a.main-album__link(href="")
                      .main-album__img(style="background-image: url('images/album-img.jpg')")
                      .main-album__descr
                        h3.main-album__group Ночные Снайперы
                        h4.main-album__title Разбуди меня
                        span.main-album__year 2017
                  li.main-album__item
                    a.main-album__link(href="")
                      .main-album__img(style="background-image: url('images/album-img.jpg')")
                      .main-album__descr
                        h3.main-album__group Ночные Снайперы
                        h4.main-album__title Разбуди меня
                        span.main-album__year 2017                                                
              article.main-audio__tracks.main-tracks
                ul.main-tracks__list
                  li.main-tracks__item
                    h3.main-tracks__title Разбуди меня
                    .main-tracks__player
                      input.main-tracks__check(type="checkbox" id="play-track1")
                      audio.main-tracks__audio(src="audio/track1.mp3" controls controlsList="nodownload").
                        Ваш браузер не подддерживает HTML5 аудио-контент. Для прослушивания трека, перейдите на один из предложенных выше музыкальных сервисов.
                      label.main-tracks__capt(for="play-track1")
                        i.far.fa-play-circle.main-tracks__play
                        i.far.fa-times-circle.main-tracks__close
                  li.main-tracks__item
                    h3.main-tracks__title Разбуди меня
                    .main-tracks__player
                      input.main-tracks__check(type="checkbox" id="play-track2")
                      audio.main-tracks__audio(src="audio/track1.mp3" controls controlsList="nodownload").
                        Ваш браузер не подддерживает HTML5 аудио-контент. Для прослушивания трека, перейдите на один из предложенных выше музыкальных сервисов.
                      label.main-tracks__capt(for="play-track2")
                        i.far.fa-play-circle.main-tracks__play
                        i.far.fa-times-circle.main-tracks__close
                  li.main-tracks__item
                    h3.main-tracks__title Разбуди меня
                    .main-tracks__player
                      input.main-tracks__check(type="checkbox" id="play-track3")
                      audio.main-tracks__audio(src="audio/track1.mp3" controls controlsList="nodownload").
                        Ваш браузер не подддерживает HTML5 аудио-контент. Для прослушивания трека, перейдите на один из предложенных выше музыкальных сервисов.
                      label.main-tracks__capt(for="play-track3")
                        i.far.fa-play-circle.main-tracks__play
                        i.far.fa-times-circle.main-tracks__close
            .main-audio__more
              a.main-audio__allAlbums.buy-btn(href="") Все альбомы
              a.main-audio__allTracks.buy-btn(href="") Все треки       

        section.main-video
          .container
            .main-video__header.section-header
              h2.main-video__title.section-header__title Видео
              .main-video__btn.section-header__btn
                a.section-header__link(href="") Youtube
            .main-video__content
              ul.main-video__list
                li.main-video__item.video-item
                  a.video-item__link(data-fancybox href="https://youtu.be/9HgiegS3S78")
                    .video-item__pic(style="background-image: url('http://img.youtube.com/vi/9HgiegS3S78/maxresdefault.jpg')")
                      span.video-item__icon
                        i.far.fa-play-circle
                    h3.video-item__title Ночные Снайперы - Инстаграм
                li.main-video__item.video-item
                  a.video-item__link(data-fancybox href="https://youtu.be/9HgiegS3S78")
                    .video-item__pic(style="background-image: url('http://img.youtube.com/vi/9HgiegS3S78/maxresdefault.jpg')")
                      span.video-item__icon
                        i.far.fa-play-circle
                    h3.video-item__title Ночные Снайперы - Инстаграм
                li.main-video__item.video-item
                  a.video-item__link(data-fancybox href="https://youtu.be/9HgiegS3S78")
                    .video-item__pic(style="background-image: url('http://img.youtube.com/vi/9HgiegS3S78/maxresdefault.jpg')")
                      span.video-item__icon
                        i.far.fa-play-circle
                    h3.video-item__title Ночные Снайперы - Инстаграм
                li.main-video__item.video-item
                  a.video-item__link(data-fancybox href="https://youtu.be/9HgiegS3S78")
                    .video-item__pic(style="background-image: url('http://img.youtube.com/vi/9HgiegS3S78/maxresdefault.jpg')")
                      span.video-item__icon
                        i.far.fa-play-circle
                    h3.video-item__title Ночные Снайперы - Инстаграм
                li.main-video__item.video-item
                  a.video-item__link(data-fancybox href="https://youtu.be/9HgiegS3S78")
                    .video-item__pic(style="background-image: url('http://img.youtube.com/vi/9HgiegS3S78/maxresdefault.jpg')")
                      span.video-item__icon
                        i.far.fa-play-circle
                    h3.video-item__title Ночные Снайперы - Инстаграм                                                                                
              a.main-video__more.buy-btn(href="") Все клипы

        section.main-news
          .container
            .main-news__header.section-header
              h2.main-news__title.section-header__title Новости
              .main-news__btn.section-header__btn
                a.main-news__link.section-header__link(href="") Все новости
                  i.fas.fa-arrow-right.fa-xs
            .main-news__content
              ul.main-news__list
                li.main-news__item.news-item
                  a.news-item__link(href="")
                    .news-item__pic(style="background-image: url('images/news-img.jpg')")
                    .news-item__descr
                      h3.news-item__title. 
                        Диана Арбенина и Ночные Снайперы - Инстаграм
                      p.news-item__text. 
                        Презентация клипа Дианы Арбениной на песню «Инстаграм» состоится в баре Jagger
                    .news-item__footer
                      span.news-item__tag Инстаграм / Новый клип
                      time.news-item__date 21.05.2018
                li.main-news__item.news-item
                  a.news-item__link(href="")
                    .news-item__pic(style="background-image: url('images/news-img.jpg')")
                    .news-item__descr
                      h3.news-item__title. 
                        Диана Арбенина и Ночные Снайперы - Инстаграм
                      p.news-item__text. 
                        Презентация клипа Дианы Арбениной на песню «Инстаграм» состоится в баре Jagger
                    .news-item__footer
                      span.news-item__tag Инстаграм / Новый клип
                      time.news-item__date 21.05.2018
                li.main-news__item.news-item
                  a.news-item__link(href="")
                    .news-item__pic(style="background-image: url('images/news-img.jpg')")
                    .news-item__descr
                      h3.news-item__title. 
                        Диана Арбенина и Ночные Снайперы - Инстаграм
                      p.news-item__text. 
                        Презентация клипа Дианы Арбениной на песню «Инстаграм» состоится в баре Jagger
                    .news-item__footer
                      span.news-item__tag Инстаграм / Новый клип
                      time.news-item__date 21.05.2018
                li.main-news__item.news-item
                  a.news-item__link(href="")
                    .news-item__pic(style="background-image: url('images/news-img.jpg')")
                    .news-item__descr
                      h3.news-item__title. 
                        Диана Арбенина и Ночные Снайперы - Инстаграм
                      p.news-item__text. 
                        Презентация клипа Дианы Арбениной на песню «Инстаграм» состоится в баре Jagger
                    .news-item__footer
                      span.news-item__tag Инстаграм / Новый клип
                      time.news-item__date 21.05.2018
                li.main-news__item.news-item
                  a.news-item__link(href="")
                    .news-item__pic(style="background-image: url('images/news-img.jpg')")
                    .news-item__descr
                      h3.news-item__title. 
                        Диана Арбенина и Ночные Снайперы - Инстаграм
                      p.news-item__text. 
                        Презентация клипа Дианы Арбениной на песню «Инстаграм» состоится в баре Jagger
                    .news-item__footer
                      span.news-item__tag Инстаграм / Новый клип
                      time.news-item__date 21.05.2018                                                                     
      
      footer.footer
        .footer-uprow.container
          section.footer-menu
            nav.footer-menu__nav.footer-nav.news-menu
              h3.footer-nav__title Новости
              ul.footer-nav__list
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
                li.footer-nav__item 
                  a.footer-nav__link(href="") Подпункт меню
            nav.footer-menu__nav.footer-nav.group-menu
              h3.footer-nav__title Группа
              ul.footer-nav__list
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
            nav.footer-menu__nav.footer-nav.albom-menu
              h3.footer-nav__title Дискография
              ul.footer-nav__list
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
            nav.footer-menu__nav.footer-nav.media-menu
              h3.footer-nav__title Фото и видео
              ul.footer-nav__list
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
                li.footer-nav__item
                  a.footer-nav__link(href="") Подпункт меню
          article.footer-social.social-block
            ul.social-block__list
              li.social-block__item
                a.social-block__link(href="" title="Вконтакте")
                  i.fab.fa-vk
              li.social-block__item
                a.social-block__link(href="" title="Facebook")
                  i.fab.fa-facebook-f
              li.social-block__item
                a.social-block__link(href="" title="Youtube")
                  i.fab.fa-youtube
              li.social-block__item
                a.social-block__link(href="" title="Instagram")
                  i.fab.fa-instagram
              li.social-block__item
                a.social-block__link(href="" title="Twitter")
                  i.fab.fa-twitter
        .footer-middlerow.container
          section.footer-contact
            .footer-contact__header.section-header
              h2.footer-contact__title.section-header__title Контакты
            article.footer-contact__info.footer-agency
              ul.footer-agency__list
                li.footer-agency__item
                  h3.footer-agency__title Директор
                  .footer-agency__descr
                    a.footer-agency__mail(href="mailto:") people@gmail.com
                    a.footer-agency__phone(href="tel:") +7 (911) 911-11-11
                    span.footer-agency__name Артемий Лебедев
                li.footer-agency__item
                  h3.footer-agency__title PR-директор
                  .footer-agency__descr
                    a.footer-agency__mail(href="mailto:") people@gmail.com
                    a.footer-agency__phone(href="tel:") +7 (911) 911-11-11
                    span.footer-agency__name Артемий Лебедев
                li.footer-agency__item
                  h3.footer-agency__title Магазин
                  .footer-agency__descr
                    a.footer-agency__mail(href="mailto:") people@gmail.com
                    a.footer-agency__phone(href="tel:") +7 (911) 911-11-11
                    span.footer-agency__name Артемий Лебедев 
            article.footer-service
              a.footer-service__btn(href="")
                .footer-service__icon.footer-service__icon_1
                span.footer-service__text Организация концертов
              a.footer-service__btn(href="")
                .footer-service__icon.footer-service__icon_2
                span.footer-service__text Технический райдер
        .footer-lowrow
          .container
            .footer-copyright
              p.footer-copyright__text. 
                &copy; 2018 Ночные Снайперы и Диана Арбенина официальный сайт.
              p.footer-copyright__text. 
                Использование материалов сайта без согласия правообладателя запрещено
              p.footer-copyright__madein Сайт сделан в 
                a.footer-copyright__link(href="") Собакус
            .footer-subscr
              .footer-subscr__body
                h3.footer-subscr__title Подписаться на рассылку
                p.footer-subscr__text. 
                  Оставь свой E-mail и будь в курсе новостей группы Ночные Снайперы
                form.footer-subscr__form(action="")
                  label.footer-subscr__capt(for="subscr")
                    input.footer-subscr__field(type="text" id="subscr" name="subscr-mail" placeholder="Ваш e-mail" required)
                  button.footer-subscr__btn.buy-btn(type="submit") Подписаться
                p.footer-subscr__pact
                  |Нажимая кнопку “Подписаться”, я подтверждаю свое согласие на 
                  a.footer-subscr__link(href="") обработку персональных данных
    
    script(src="js/jquery-3.3.1.min.js")
    script(src="js/owl.carousel.min.js")
    script(src="js/jquery.fancybox.min.js")
    script(src="index.js")

index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="index.css"/>
    <script src="js/fontawasome.all.min.js" defer="defer"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header-fullbg">
          <div class="header-uprow container">
            <article class="header-lang">
              <ul class="header-lang__list">
                <li class="header-lang__item header-lang__item_active"><a class="header-lang__link" href="#">Ru</a></li>
                <li class="header-lang__item"><a class="header-lang__link" href="#">En</a></li>
              </ul>
            </article>
            <article class="header-social social-block"><a class="social-block__contact" href="">Контакты</a>
              <ul class="social-block__list">
                <li class="social-block__item"><a class="social-block__link" href="" title="Вконтакте"><i class="fab fa-vk fa-xs"></i></a></li>
                <li class="social-block__item"><a class="social-block__link" href="" title="Facebook"><i class="fab fa-facebook-f fa-xs"></i></a></li>
                <li class="social-block__item"><a class="social-block__link" href="" title="Youtube"><i class="fab fa-youtube fa-xs"></i></a></li>
                <li class="social-block__item"><a class="social-block__link" href="" title="Instagram"><i class="fab fa-instagram fa-xs"></i></a></li>
                <li class="social-block__item"><a class="social-block__link" href="" title="Twitter"><i class="fab fa-twitter fa-xs"></i></a></li>
              </ul>
            </article>
          </div>
        </div>
        <div class="header-lowrow container"><a class="header-logo" href=""><img class="header-logo__img" src="images/logo.png" alt="Ночные снайперы"/></a>
          <nav class="header-nav">
            <ul class="header-nav__list">
              <li class="header-nav__item"><a class="header-nav__link" href="">Афиша</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="">Новости</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="">Группа</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="">Дискография</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="">Фото</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="">Видео</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="">Магазин</a></li>
            </ul>
          </nav>
          <article class="header-btn"><a class="header-btn__buy-btn buy-btn" href="">Купить билет</a><a class="header-search-btn"><i class="fas fa-search fa-lg header-search-btn__search"></i><i class="far fa-times-circle fa-lg header-search-btn__close"></i></a>
            <form class="header-btn__search header-search" action="">
              <label class="header-search__caption" for="">
                <input class="header-search__field" type="text" placeholder="Поиск..."/>
              </label>
            </form>
          </article>
        </div>
      </header>
      <main class="main">
        <section class="main-slider">
          <div class="main-slider__list owl-carousel">
            <div class="main-slider__item" style="background-image: url('images/slider-bg.jpg');">
              <div class="main-slider__descr">
                <div class="main-slider__caption">
                  <div class="main-slider__header">
                    <h2 class="main-slider__group">Диана Арбенина и Ночные Снайперы</h2>
                    <h3 class="main-slider__song">Инстаграм</h3>
                  </div>
                  <div class="main-slider__media"><a class="main-slider__google" href=""></a><a class="main-slider__apple" href=""></a></div>
                  <div class="main-slider__btn"><a class="main-slider__video buy-btn" href="">Премьера клипа</a><a class="main-slider__audio buy-btn" href="">Слушать</a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="main-affiche">
          <div class="container">
            <div class="main-affiche__header section-header">
              <h2 class="main-affiche__title section-header__title">Афиша</h2>
              <div class="main-affiche__btn section-header__btn"><a class="main-affiche__link section-header__link" href="">Все концерты<i class="fas fa-arrow-right fa-xs"></i></a></div>
            </div>
            <div class="main-affiche__content">
              <ul class="main-affiche__list">
                <li class="main-affiche__item affiche-item">
                  <div class="affiche-item__when">
                    <div class="affiche-item__date"><span class="affiche-item__day">11 </span><span class="affiche-item__month">июня </span><span class="affiche-item__year">2018</span></div><span class="affiche-item__time">понедельник 20:00</span>
                  </div>
                  <div class="affiche-item__address"><span class="affiche-item__city">Таллин </span><span class="affiche-item__place">Дворец Металлургов</span></div>
                  <div class="affiche-item__social social-block">
                    <ul class="social-block__list">
                      <li class="social-block__item"><a class="social-block__link" href="" title="Вконтакте"><i class="fab fa-vk"></i></a></li>
                      <li class="social-block__item"><a class="social-block__link" href="" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                  </div><a class="affiche-item__btn buy-btn" href="">Купить билет</a>
                </li>
                <li class="main-affiche__item affiche-item">
                  <div class="affiche-item__when">
                    <div class="affiche-item__date"><span class="affiche-item__day">11 </span><span class="affiche-item__month">июня </span><span class="affiche-item__year">2018</span></div><span class="affiche-item__time">понедельник 20:00</span>
                  </div>
                  <div class="affiche-item__address"><span class="affiche-item__city">Таллин </span><span class="affiche-item__place">Дворец Металлургов</span></div>
                  <div class="affiche-item__social social-block">
                    <ul class="social-block__list">
                      <li class="social-block__item"><a class="social-block__link" href="" title="Вконтакте"><i class="fab fa-vk"></i></a></li>
                      <li class="social-block__item"><a class="social-block__link" href="" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                  </div><a class="affiche-item__btn buy-btn" href="">Купить билет</a>
                </li>
                <li class="main-affiche__item affiche-item">
                  <div class="affiche-item__when">
                    <div class="affiche-item__date"><span class="affiche-item__day">11 </span><span class="affiche-item__month">июня </span><span class="affiche-item__year">2018</span></div><span class="affiche-item__time">понедельник 20:00</span>
                  </div>
                  <div class="affiche-item__address"><span class="affiche-item__city">Таллин </span><span class="affiche-item__place">Дворец Металлургов</span></div>
                  <div class="affiche-item__social social-block">
                    <ul class="social-block__list">
                      <li class="social-block__item"><a class="social-block__link" href="" title="Вконтакте"><i class="fab fa-vk"></i></a></li>
                      <li class="social-block__item"><a class="social-block__link" href="" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                  </div><a class="affiche-item__btn buy-btn" href="">Купить билет</a>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="main-audio">
          <div class="container">
            <div class="main-audio__header section-header">
              <h2 class="main-audio__title section-header__title">Аудио</h2>
              <div class="main-audio__btn section-header__btn"><a class="section-header__link" href="">apple music</a><a class="section-header__link" href="">itunes</a><a class="section-header__link" href="">яндекс.музыка</a></div>
            </div>
            <div class="main-audio__content">
              <article class="main-audio__albums main-album">
                <ul class="main-album__list">
                  <li class="main-album__item main-album__item_active"><a class="main-album__link" href="">
                      <div class="main-album__img" style="background-image: url('images/album-img.jpg')"></div>
                      <div class="main-album__descr">
                        <h3 class="main-album__group">Ночные Снайперы</h3>
                        <h4 class="main-album__title">Разбуди меня</h4><span class="main-album__year">2017</span>
                      </div></a></li>
                  <li class="main-album__item"><a class="main-album__link" href="">
                      <div class="main-album__img" style="background-image: url('images/album-img.jpg')"></div>
                      <div class="main-album__descr">
                        <h3 class="main-album__group">Ночные Снайперы</h3>
                        <h4 class="main-album__title">Разбуди меня</h4><span class="main-album__year">2017</span>
                      </div></a></li>
                  <li class="main-album__item"><a class="main-album__link" href="">
                      <div class="main-album__img" style="background-image: url('images/album-img.jpg')"></div>
                      <div class="main-album__descr">
                        <h3 class="main-album__group">Ночные Снайперы</h3>
                        <h4 class="main-album__title">Разбуди меня</h4><span class="main-album__year">2017                                                </span>
                      </div></a></li>
                </ul>
              </article>
              <article class="main-audio__tracks main-tracks">
                <ul class="main-tracks__list">
                  <li class="main-tracks__item">
                    <h3 class="main-tracks__title">Разбуди меня</h3>
                    <div class="main-tracks__player">
                      <input class="main-tracks__check" type="checkbox" id="play-track1"/>
                      <audio class="main-tracks__audio" src="audio/track1.mp3" controls="controls" controlsList="nodownload">Ваш браузер не подддерживает HTML5 аудио-контент. Для прослушивания трека, перейдите на один из предложенных выше музыкальных сервисов.</audio>
                      <label class="main-tracks__capt" for="play-track1"><i class="far fa-play-circle main-tracks__play"></i><i class="far fa-times-circle main-tracks__close"></i></label>
                    </div>
                  </li>
                  <li class="main-tracks__item">
                    <h3 class="main-tracks__title">Разбуди меня</h3>
                    <div class="main-tracks__player">
                      <input class="main-tracks__check" type="checkbox" id="play-track2"/>
                      <audio class="main-tracks__audio" src="audio/track1.mp3" controls="controls" controlsList="nodownload">Ваш браузер не подддерживает HTML5 аудио-контент. Для прослушивания трека, перейдите на один из предложенных выше музыкальных сервисов.</audio>
                      <label class="main-tracks__capt" for="play-track2"><i class="far fa-play-circle main-tracks__play"></i><i class="far fa-times-circle main-tracks__close"></i></label>
                    </div>
                  </li>
                  <li class="main-tracks__item">
                    <h3 class="main-tracks__title">Разбуди меня</h3>
                    <div class="main-tracks__player">
                      <input class="main-tracks__check" type="checkbox" id="play-track3"/>
                      <audio class="main-tracks__audio" src="audio/track1.mp3" controls="controls" controlsList="nodownload">Ваш браузер не подддерживает HTML5 аудио-контент. Для прослушивания трека, перейдите на один из предложенных выше музыкальных сервисов.</audio>
                      <label class="main-tracks__capt" for="play-track3"><i class="far fa-play-circle main-tracks__play"></i><i class="far fa-times-circle main-tracks__close"></i></label>
                    </div>
                  </li>
                </ul>
              </article>
            </div>
            <div class="main-audio__more"><a class="main-audio__allAlbums buy-btn" href="">Все альбомы</a><a class="main-audio__allTracks buy-btn" href="">Все треки       </a></div>
          </div>
        </section>
        <section class="main-video">
          <div class="container">
            <div class="main-video__header section-header">
              <h2 class="main-video__title section-header__title">Видео</h2>
              <div class="main-video__btn section-header__btn"><a class="section-header__link" href="">Youtube</a></div>
            </div>
            <div class="main-video__content">
              <ul class="main-video__list">
                <li class="main-video__item video-item"><a class="video-item__link" data-fancybox="data-fancybox" href="https://youtu.be/9HgiegS3S78">
                    <div class="video-item__pic" style="background-image: url('http://img.youtube.com/vi/9HgiegS3S78/maxresdefault.jpg')"><span class="video-item__icon"><i class="far fa-play-circle"></i></span></div>
                    <h3 class="video-item__title">Ночные Снайперы - Инстаграм</h3></a></li>
                <li class="main-video__item video-item"><a class="video-item__link" data-fancybox="data-fancybox" href="https://youtu.be/9HgiegS3S78">
                    <div class="video-item__pic" style="background-image: url('http://img.youtube.com/vi/9HgiegS3S78/maxresdefault.jpg')"><span class="video-item__icon"><i class="far fa-play-circle"></i></span></div>
                    <h3 class="video-item__title">Ночные Снайперы - Инстаграм</h3></a></li>
                <li class="main-video__item video-item"><a class="video-item__link" data-fancybox="data-fancybox" href="https://youtu.be/9HgiegS3S78">
                    <div class="video-item__pic" style="background-image: url('http://img.youtube.com/vi/9HgiegS3S78/maxresdefault.jpg')"><span class="video-item__icon"><i class="far fa-play-circle"></i></span></div>
                    <h3 class="video-item__title">Ночные Снайперы - Инстаграм</h3></a></li>
                <li class="main-video__item video-item"><a class="video-item__link" data-fancybox="data-fancybox" href="https://youtu.be/9HgiegS3S78">
                    <div class="video-item__pic" style="background-image: url('http://img.youtube.com/vi/9HgiegS3S78/maxresdefault.jpg')"><span class="video-item__icon"><i class="far fa-play-circle"></i></span></div>
                    <h3 class="video-item__title">Ночные Снайперы - Инстаграм</h3></a></li>
                <li class="main-video__item video-item"><a class="video-item__link" data-fancybox="data-fancybox" href="https://youtu.be/9HgiegS3S78">
                    <div class="video-item__pic" style="background-image: url('http://img.youtube.com/vi/9HgiegS3S78/maxresdefault.jpg')"><span class="video-item__icon"><i class="far fa-play-circle"></i></span></div>
                    <h3 class="video-item__title">Ночные Снайперы - Инстаграм                                                                                </h3></a></li>
              </ul><a class="main-video__more buy-btn" href="">Все клипы</a>
            </div>
          </div>
        </section>
        <section class="main-news">
          <div class="container">
            <div class="main-news__header section-header">
              <h2 class="main-news__title section-header__title">Новости</h2>
              <div class="main-news__btn section-header__btn"><a class="main-news__link section-header__link" href="">Все новости<i class="fas fa-arrow-right fa-xs"></i></a></div>
            </div>
            <div class="main-news__content">
              <ul class="main-news__list">
                <li class="main-news__item news-item"><a class="news-item__link" href="">
                    <div class="news-item__pic" style="background-image: url('images/news-img.jpg')"></div>
                    <div class="news-item__descr">
                      <h3 class="news-item__title">Диана Арбенина и Ночные Снайперы - Инстаграм</h3>
                      <p class="news-item__text">Презентация клипа Дианы Арбениной на песню «Инстаграм» состоится в баре Jagger</p>
                    </div>
                    <div class="news-item__footer"><span class="news-item__tag">Инстаграм / Новый клип</span>
                      <time class="news-item__date">21.05.2018</time>
                    </div></a></li>
                <li class="main-news__item news-item"><a class="news-item__link" href="">
                    <div class="news-item__pic" style="background-image: url('images/news-img.jpg')"></div>
                    <div class="news-item__descr">
                      <h3 class="news-item__title">Диана Арбенина и Ночные Снайперы - Инстаграм</h3>
                      <p class="news-item__text">Презентация клипа Дианы Арбениной на песню «Инстаграм» состоится в баре Jagger</p>
                    </div>
                    <div class="news-item__footer"><span class="news-item__tag">Инстаграм / Новый клип</span>
                      <time class="news-item__date">21.05.2018</time>
                    </div></a></li>
                <li class="main-news__item news-item"><a class="news-item__link" href="">
                    <div class="news-item__pic" style="background-image: url('images/news-img.jpg')"></div>
                    <div class="news-item__descr">
                      <h3 class="news-item__title">Диана Арбенина и Ночные Снайперы - Инстаграм</h3>
                      <p class="news-item__text">Презентация клипа Дианы Арбениной на песню «Инстаграм» состоится в баре Jagger</p>
                    </div>
                    <div class="news-item__footer"><span class="news-item__tag">Инстаграм / Новый клип</span>
                      <time class="news-item__date">21.05.2018</time>
                    </div></a></li>
                <li class="main-news__item news-item"><a class="news-item__link" href="">
                    <div class="news-item__pic" style="background-image: url('images/news-img.jpg')"></div>
                    <div class="news-item__descr">
                      <h3 class="news-item__title">Диана Арбенина и Ночные Снайперы - Инстаграм</h3>
                      <p class="news-item__text">Презентация клипа Дианы Арбениной на песню «Инстаграм» состоится в баре Jagger</p>
                    </div>
                    <div class="news-item__footer"><span class="news-item__tag">Инстаграм / Новый клип</span>
                      <time class="news-item__date">21.05.2018</time>
                    </div></a></li>
                <li class="main-news__item news-item"><a class="news-item__link" href="">
                    <div class="news-item__pic" style="background-image: url('images/news-img.jpg')"></div>
                    <div class="news-item__descr">
                      <h3 class="news-item__title">Диана Арбенина и Ночные Снайперы - Инстаграм</h3>
                      <p class="news-item__text">Презентация клипа Дианы Арбениной на песню «Инстаграм» состоится в баре Jagger</p>
                    </div>
                    <div class="news-item__footer"><span class="news-item__tag">Инстаграм / Новый клип</span>
                      <time class="news-item__date">21.05.2018                                                                     </time>
                    </div></a></li>
              </ul>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="footer-uprow container">
          <section class="footer-menu">
            <nav class="footer-menu__nav footer-nav news-menu">
              <h3 class="footer-nav__title">Новости</h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
                <li class="footer-nav__item"> <a class="footer-nav__link" href="">Подпункт меню</a></li>
              </ul>
            </nav>
            <nav class="footer-menu__nav footer-nav group-menu">
              <h3 class="footer-nav__title">Группа</h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
              </ul>
            </nav>
            <nav class="footer-menu__nav footer-nav albom-menu">
              <h3 class="footer-nav__title">Дискография</h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
              </ul>
            </nav>
            <nav class="footer-menu__nav footer-nav media-menu">
              <h3 class="footer-nav__title">Фото и видео</h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Подпункт меню</a></li>
              </ul>
            </nav>
          </section>
          <article class="footer-social social-block">
            <ul class="social-block__list">
              <li class="social-block__item"><a class="social-block__link" href="" title="Вконтакте"><i class="fab fa-vk"></i></a></li>
              <li class="social-block__item"><a class="social-block__link" href="" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li class="social-block__item"><a class="social-block__link" href="" title="Youtube"><i class="fab fa-youtube"></i></a></li>
              <li class="social-block__item"><a class="social-block__link" href="" title="Instagram"><i class="fab fa-instagram"></i></a></li>
              <li class="social-block__item"><a class="social-block__link" href="" title="Twitter"><i class="fab fa-twitter"></i></a></li>
            </ul>
          </article>
        </div>
        <div class="footer-middlerow container">
          <section class="footer-contact">
            <div class="footer-contact__header section-header">
              <h2 class="footer-contact__title section-header__title">Контакты</h2>
            </div>
            <article class="footer-contact__info footer-agency">
              <ul class="footer-agency__list">
                <li class="footer-agency__item">
                  <h3 class="footer-agency__title">Директор</h3>
                  <div class="footer-agency__descr"><a class="footer-agency__mail" href="mailto:">people@gmail.com</a><a class="footer-agency__phone" href="tel:">+7 (911) 911-11-11</a><span class="footer-agency__name">Артемий Лебедев</span></div>
                </li>
                <li class="footer-agency__item">
                  <h3 class="footer-agency__title">PR-директор</h3>
                  <div class="footer-agency__descr"><a class="footer-agency__mail" href="mailto:">people@gmail.com</a><a class="footer-agency__phone" href="tel:">+7 (911) 911-11-11</a><span class="footer-agency__name">Артемий Лебедев</span></div>
                </li>
                <li class="footer-agency__item">
                  <h3 class="footer-agency__title">Магазин</h3>
                  <div class="footer-agency__descr"><a class="footer-agency__mail" href="mailto:">people@gmail.com</a><a class="footer-agency__phone" href="tel:">+7 (911) 911-11-11</a><span class="footer-agency__name">Артемий Лебедев </span></div>
                </li>
              </ul>
            </article>
            <article class="footer-service"><a class="footer-service__btn" href="">
                <div class="footer-service__icon footer-service__icon_1"></div><span class="footer-service__text">Организация концертов</span></a><a class="footer-service__btn" href="">
                <div class="footer-service__icon footer-service__icon_2"></div><span class="footer-service__text">Технический райдер</span></a></article>
          </section>
        </div>
        <div class="footer-lowrow">
          <div class="container">
            <div class="footer-copyright">
              <p class="footer-copyright__text">&copy; 2018 Ночные Снайперы и Диана Арбенина официальный сайт.</p>
              <p class="footer-copyright__text">Использование материалов сайта без согласия правообладателя запрещено</p>
              <p class="footer-copyright__madein">Сайт сделан в <a class="footer-copyright__link" href="">Собакус</a></p>
            </div>
            <div class="footer-subscr">
              <div class="footer-subscr__body">
                <h3 class="footer-subscr__title">Подписаться на рассылку</h3>
                <p class="footer-subscr__text">Оставь свой E-mail и будь в курсе новостей группы Ночные Снайперы</p>
                <form class="footer-subscr__form" action="">
                  <label class="footer-subscr__capt" for="subscr">
                    <input class="footer-subscr__field" type="text" id="subscr" name="subscr-mail" placeholder="Ваш e-mail" required="required"/>
                  </label>
                  <button class="footer-subscr__btn buy-btn" type="submit">Подписаться</button>
                </form>
                <p class="footer-subscr__pact">Нажимая кнопку “Подписаться”, я подтверждаю свое согласие на <a class="footer-subscr__link" href="">обработку персональных данных</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
